/* reset */
* { box-sizing: border-box;}
img
{
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  justify-self: center;
  margin-block-end: 2rem;
}
a:not([class]) {
  text-decoration-thickness: max(0.06rem, 1px);
  text-underline-offset: .5rem;
}
/* Globals */
:root {
  --brand: #099eac;
  --secondary: #310627;
  --accent: #b04908;
  --bg: #f4f3f1;
  --text:#151515;
}
h1,
h2,
h3 {
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: .2rem;
  font-weight: 400;
  text-transform: uppercase;   
}
li {
  padding-block: .5rem;
   font-size: clamp(.8rem, 1rem + 1vw, 1.4rem);
  }  
li::marker {
  color: var(--brand);
}
a {
  color: var(--accent);
  padding-block: 1rem;
}
small{
    font-size: clamp(.5rem, 1rem + 1vw, 1.2rem);
}
hr{
  border: none;
  margin-block: 4rem;
  height: .2rem;
  background-color: var(--brand);
}
/* html {
  background-color: rgb(237, 232, 214);  
} */
body {
  font-size: clamp(.8rem, 1rem + 1vw, 1.6rem);
  background-color: var(--bg);
  color: var(--text);
  padding-inline: clamp(.8rem, 1rem + 6vw, 8rem);
  padding-block: 2rem;
  margin-inline: auto;
  width: min(80ch, 100% - 1rem);
  display: grid;
  justify-items: center;
  font-family: system-ui, sans-serif
}
details{
  font-size:smaller
}
 summary {
 font-weight:700;   
 cursor: pointer;
 border: .2rem solid var(--brand);
 margin-block: .5rem;
 padding: 1rem;
  }  
 header ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; 
 }
  header li{
 margin-inline: 1rem;
 }
 iframe {
  width: 100%;
  aspect-ratio: 16 / 9; 
  height: auto;
}