html {
  font-size: 125%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
  margin-inline: auto;
  inline-size: min(75ch, 100% - 2rem);
  background-color: #e0e9ec;
}

header {
  display: grid;
  justify-self: center;
}

a {
  color: #2f054b;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

details {
  margin-block: 1rem;

  & summary {
    cursor: pointer;
  }
}





/* footer {
  text-align: center;
} */

/* :root {
  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
  header img {
    filter: brightness(0) invert(100%);
  }

  body {
    background-color: #1d1c24;
  }
}

header {
  padding-block: 1rem;

  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
  }

  & img {
    display: block;
    justify-self: center;
  }
}

iframe {
  inline-size: 100%;
  block-size: auto; 
  max-width: 100%;
  aspect-ratio: 16 / 9;
} */