html {
  font-size: 1.3rem
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  margin-inline: auto;
  inline-size: min(80ch, 100% - 2rem);
  background-color: #e1e3e4;
}

header {
  display: block;
  justify-self: center;
  list-style: none;
  
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  justify-self: center;
}



details {
  margin-block: 1rem;

  & summary {
    cursor: pointer;
  }
}

footer {
  text-align: center;
}

/* EXTRAS */
:root {
  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
  header img {
    filter: brightness(0) invert(100%);
  }

  body {
    background-color: #1d1c24;
  }
}

header {
  padding-block: 1rem;

  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
  }

  & img {
    display: block;
    justify-self: center;
  }
}

iframe {
  inline-size: 100%;
  block-size: auto; 
  max-width: 100%;
  aspect-ratio: 16 / 9;
}